@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

$White: hsl(0, 0%, 100%);
$LightGray: hsl(212, 45%, 89%);
$GrayishBlue: hsl(220, 15%, 55%);
$DarkBlue: hsl(218, 44%, 22%);

$Width: 100%/12% * 2.5% !global;
$Height: 100%/12% * 7.5% !global;

$mobile-width: 100%/12% * 10.25%;
$mobile-height: 100%/12% * 9%;

@mixin left-text($is-img: false, $anim-delay: 0s) {
  @if $is-img {
    animation-name: img-anim;
  } @else {
    animation-name: text-anim;
  }
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: #{$anim-delay}s;
  animation-fill-mode: both;
}

@keyframes text-anim {
  0% {
    position: relative;
    left: -20px;
    opacity: 0;
  }
  100% {
    left: 0px;
    position: relative;
    opacity: 1;
  }
}

@keyframes img-anim {
  0% {
    position: relative;
    top: -20px;
    opacity: 0;
  }
  100% {
    top: 0px;
    position: relative;
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}
